body{
  margin: 0 10%;
}

.container{
  border: 2px solid darkslategray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
}

.box{
  display:inline-block;
  width: 19.5%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
  border-radius: 10px;
  border:2px solid darkslategray;
}

.jasmine{
  background-color: #f4d58d;
}
.orange{
  background-color: #ff6f59;
}
.black{
  background-color: #232c33;
  color: white;
}
.lavender{
  background-color: #dee5ff;
}
.brown{
  background-color: #4c230a;
  color:white;
}