body{
  margin: 0 5%;
}
body,header{
  background-color: rgb(247, 200, 200);
}

.name{
  text-align: right;
}
.container{
  border: 2px solid darkslategray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
}
/*text styles css*/
h1{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Croissant One', cursive;
}

h2,h3{
  font-size: 30px;
  font-weight:600;
  font-family: Overpass, sans-serif;
}

p{
  font-size: 18px;
  font-weight:400;
  font-family: Raleway, sans-serif;
}
ul{
  display:list-item;
  list-style-type: circle;
  list-style-position: inside;
  margin:0;
  padding:0;
  font-family: Raleway, sans-serif;
  font-weight: 600;
}


/*colour section css*/
.colourBox{
  display:inline-block;
  width: 19.5%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
  border-radius: 10px;
  border:2px solid darkslategray;
}

.jasmine{
  background-color: #f4d58d;
}
.orange{
  background-color: #ff6f59;
}
.black{
  background-color: #232c33;
  color: white;
}
.lavender{
  background-color: #dee5ff;
}
.brown{
  background-color: #4c230a;
  color:white;
}
/*font section css*/
.fontBox{
  width:33.1%;
  display: inline-block;
  max-height: 300px;
}

.fontTitle{
  font-size: 40px;
}

.regular{
  font-style: normal;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: 700;
}

.raleway{
  font-family: Raleway, sans-serif;
}

.overpass{
  font-family: Overpass, sans-serif;
}

.croissant_one{
  font-family: 'Croissant One', cursive;
}
